@import "../node_modules/bulma/css/bulma.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

:root {
  --rounded: 5px;
}

body {
  min-height: 100vh;
  overflow-y:hidden;
  overflow-x: hidden;
  background-color: #222;
}

main {
  width: 100%;
  min-height: 100vh;
  padding: 20px 0px;
}

th {
  padding: 7.5px !important;
}

.navBar,
.myFooter {
  width: 100%;
  background-color: #181818 !important;
}

.navBar__mobileStyles {
  position: absolute;
  z-index: 3;
  height: 100% !important;
}

.myFooter__mobileStyles{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.spinner-wrapper{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 8;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #ffe08a;
  border-color: #ffe08a transparent #ffe08a transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modalOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000cc;
}
.customModal {
  min-width: 360px;
  max-width: 720px;
  min-height: 490px;
  max-height: 595px;
  overflow-y: scroll;
  background-color: white;
  border-radius: var(--rounded);
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .customModal::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.customModal {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

.rowInput {
  width: 100% !important;
  border: none;
  outline: none;
}

.modalBtn {
  position: absolute;
  top: 0;
  right: 0;
}

.tableHolder {
  background-color: rgb(250, 250, 250);
  min-height: 415px;
  max-height: 415px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.jewelryForm {
  max-width: 950px;
}

.pawnForm {
  max-width: 900px;
}

.jewelryForm,
.loanForm,
.pawnForm,
.viewOnlyTableHolder {
  border-radius: var(--rounded);
}

.statusFigure {
  min-width: 360px;
  min-height: 360px;
}

@media screen and (max-width: 1024px) {
  .jewelryForm_formsHolder,
  .loanForm_formsHolder {
    flex-direction: column;
  }

  .idTableData, .idTableHeader{display: none;}
}

@media screen and (max-width: 785px) {
  .table thead {
    display: none;
  }
}

@media screen and (max-width: 748px) {
  .rowButton {
    margin-bottom: 10px;
  }

  .loanMoneySection {
    flex-direction: column;
  }
}

@media screen and (max-width: 570px) {
  .customerDataForm {
    flex-direction: column;
  }
  .customerDataForm section{
    margin-right: 0px !important;
  }
  .customerDataFormLoanSection{
    margin-right: 0px !important;
  }
  .dni-field{
    margin-top: 10px;
  }
}
