@import "../node_modules/bulma/css/bulma.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

:root {
  --rounded: 5px;
}

body {
  background-color: #222;
}

main {
  width: 100%;
  min-height: 100vh;
  padding: 2.5rem;
}

th {
  padding: 7.5px !important;
}

.navBar,
.myFooter {
  width: 100%;
  background-color: #181818 !important;
}

.navBar__mobileStyles {
  position: absolute;
  z-index: 3;
  height: 100% !important;
}

.modalOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000cc;
}
.customModal {
  min-width: 360px;
  max-width: 720px;
  min-height: 490px;
  max-height: 595px;
  overflow-y: scroll;
  background-color: white;
}

.rowInput {
  width: 100% !important;
  border: none;
  outline: none;
}

.modalBtn {
  position: absolute;
  top: 0;
  right: 0;
}

.tableHolder {
  background-color: white;
  min-height: 415px;
  max-height: 415px;
  overflow-y: scroll;
  overflow-x: scroll;
  border-radius: var(--rounded);
}

.jewelryForm {
  max-width: 950px;
}

.pawnForm {
  max-width: 900px;
}

.jewelryForm,
.loanForm,
.pawnForm,
.viewOnlyTableHolder {
  border-radius: var(--rounded);
}

.statusFigure {
  min-width: 360px;
  min-height: 360px;
}

@media screen and (max-width: 1024px) {
  .jewelryForm_formsHolder,
  .loanForm_formsHolder {
    flex-direction: column;
  }
}

@media screen and (max-width: 785px) {
  .table thead {
    display: none;
  }
}

@media screen and (max-width: 748px) {
  .rowButton {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 570px) {
  .customerDataForm {
    flex-direction: column;
  }
}
